In [1]:
import pandas as pd
from pandas import DataFrame
from sqlalchemy import create_engine

In [12]:
ChocolateWine = "ChocolateWine.csv"
ChocolateWine_df = pd.read_csv(ChocolateWine)
ChocolateWine_df.head()

   DarkChocolate  MilkChocolate  WhiteChocolate   Wine
0              1              0               0    Red
1              0              1               0  White
2              0              0               1   Rose

In [13]:
wine = ("Red","White","Rose")
wine_df = DataFrame(wine,columns=['Wine'])
wine_df

    Wine
0    Red
1  White
2   Rose

In [14]:
chocolate = ("DarkChocolate", "MilkChocolate", "WhiteChocolate")
chocolate_df = DataFrame(chocolate,columns=["Chocolate"])
chocolate_df

        Chocolate
0   DarkChocolate
1   MilkChocolate
2  WhiteChocolate

In [15]:
WineDescriptions = "WineDescriptions.csv"
WineDescriptions_df = pd.read_csv(WineDescriptions,encoding= 'unicode_escape')
WineDescriptions_df.head()

    Type          Variety                                        Description
0  White       Chardonnay  Fruity buttery with a velvety feel thats atypi...
1  White     Pinot Grigio                  Simple light bodied dry and crisp
2  White         Riesling  Usually very sweet with intense fruit flavors ...
3  White          Moscato                            Fruity and often sweet
4  White  Sauvignon blanc  Dry tart and acidic with herbal flavors as wel...

In [16]:
WhiteWine_df = WineDescriptions_df.loc[WineDescriptions_df['Type'] == "White"]
RedWine_df = WineDescriptions_df.loc[WineDescriptions_df['Type'] == "Red"]
RoseWine_df = WineDescriptions_df.loc[WineDescriptions_df['Type'] == "Rose"]

In [17]:
WhiteWineDesc = WhiteWine_df['Description'].tolist()
WhiteWineDesc_df = DataFrame(WhiteWineDesc,columns=["WhiteWineDesc"])
RedWineDesc = RedWine_df['Description'].tolist()
RedWineDesc_df = DataFrame(RedWineDesc,columns=["RedWineDesc"])
RoseWineDesc = RoseWine_df['Description'].tolist()
RoseWineDesc_df = DataFrame(RoseWineDesc,columns=["RoseWineDesc"])

In [18]:
connection_string = "postgres:postgres@localhost:5432/MoreWineeeee"
engine = create_engine(f'postgresql://{connection_string}')
engine.table_names()

ChocolateWine_df.to_sql(name='chocolatewine', con=engine, if_exists='append', index=True)
wine_df.to_sql(name='wine', con=engine, if_exists='append', index=True)
chocolate_df.to_sql(name='chocolate', con=engine, if_exists='append', index=True)
WineDescriptions_df.to_sql(name='winedescriptions', con=engine, if_exists='append', index=True)
WhiteWine_df.to_sql(name='whitewine', con=engine, if_exists='append', index=True)
RedWine_df.to_sql(name='redwine', con=engine, if_exists='append', index=True)
RoseWine_df.to_sql(name='rosewine', con=engine, if_exists='append', index=True)
WhiteWineDesc_df.to_sql(name='whitewinedesc', con=engine, if_exists='append', index=True)
RedWineDesc_df.to_sql(name='redwinedesc', con=engine, if_exists='append', index=True)
RoseWineDesc_df.to_sql(name='rosewinedesc', con=engine, if_exists='append', index=True)

In [2]:
WineContent = "wineContent.csv"
WineContent_df = pd.read_csv(WineContent)
WineContent_df.head()

    Type Content  Low High
0    Red     14%  12%  15%
1  White     10%   5%  14%
2   Rose     12%   5%  14%

In [3]:
connection_string = "postgres:postgres@localhost:5432/MoreWineeeee"
engine = create_engine(f'postgresql://{connection_string}')
engine.table_names()

WineContent_df.to_sql(name='winecontent', con=engine, if_exists='append', index=True)