In [1]:
import pandas as pd
from pandas import DataFrame
from sqlalchemy import create_engine

In [2]:
wine = {'Wine': ["Red","White","Rose"], 
             'Value': [1, 2, 3]} 
wine_df = DataFrame(wine)
# wine_df

In [3]:
WineDescriptions = "WineDescriptions.csv"
WineDescriptions_df = pd.read_csv(WineDescriptions,encoding= 'unicode_escape')
# WineDescriptions_df.head()

In [4]:
WineContent = "wineContent.csv"
WineContent_df = pd.read_csv(WineContent)
# WineContent_df.head()

In [5]:
gender = {'Gender': ["Female", "Male", "Non-Binary","Other/Prefer not to say"], 
             'Value': [1, 2, 3, 4]} 
gender_df = DataFrame(gender)
# gender_df

In [6]:
ethnicity = {'Ethnicity': ["White/Caucasian", "Latino or Hispanic", "Black or African-American","Other/Unknown", "Two or More", "Asian"], 
             'Value': [1, 2, 3, 4,5,6]} 
ethnicity_df = DataFrame(ethnicity)
# ethnicity_df

In [7]:
home = {'Home': ["United States of America", "Europe", "North America/Central America (excluding USA)","Other/Prefer not to say", "Australia/New Zealand", "Asia"], 
             'Value': [1, 2, 3, 4,5,6]} 
home_df = DataFrame(home)
# home_df

In [8]:
education = {'Education': ["Trade School", "Bachelor's Degree", "Master's Degree","High School Diploma or equivalent", "Ph.D. or higher", "Other/Prefer not to say", "Some High School"], 
             'Value': [1, 2, 3, 4,5,6,7]} 
education_df = DataFrame(education)
# education_df

In [9]:
married = {'Marital Status': ["Single (Never Married)", "Married", "Divorced","Other/Prefer not to say"], 
             'Value': [1, 2, 3, 4]} 
married_df = DataFrame(married)
# married_df

In [10]:
chocolate = {'Chocolate': ["Dark Chocolate", "Milk Chocolate", "White Chocolate","I do not/can not eat chocolate"], 
             'Value': [1, 2, 3, 4]} 
chocolate_df = DataFrame(chocolate)
# chocolate_df

In [11]:
cheese = {'Cheese': ["Firm/Semi-firm (Cheddar, Gouda, Parmesan)", "Soft (Brie, Camembert, Munster)", "Blue-veined (Roquefort, Gorgonzola, Bleu)","I don't eat cheese"], 
             'Value': [1, 2, 3, 4]} 
cheese_df = DataFrame(cheese)
# cheese_df

In [12]:
alcohol = {'Alcohol': ["Whiskey/Scotch", "Vodka", "Tequila","Beer"], 
             'Value': [1, 2, 3, 4]} 
alcohol_df = DataFrame(alcohol)
# alcohol_df

In [13]:
coffeeTea = {'CoffeeTea': ["Tea/coffee with a little milk &/or cream", "Black (with nothing added)", "I do not drink coffee or tea","Milk &/or cream with a little tea/coffee"], 
             'Value': [1, 2, 3, 4]} 
coffeeTea_df = DataFrame(coffeeTea)
# coffeeTea_df

In [14]:
candy = {'Candy': ["Sour (Sour patch kids, Warheads, Lemonheads)", "Fruity (Skittles, Starburst, Jolly Ranchers)", "I do not eat candy","Candy Bar (Snicker, Milky way, Twix)"], 
             'Value': [1, 2, 3, 4]} 
candy_df = DataFrame(candy)
# candy_df

In [15]:
scent = {'Scent': ["Citrus, Floral, Herbal", "Wood, Tobacco, Musk", "Clean Linen,  Fresh Air, Seaside","Cinnamon, Baked Goods, Frosting"], 
             'Value': [1, 2, 3, 4]} 
scent_df = DataFrame(scent)
# scent_df

In [16]:
saladDressing = {'SaladDressing': ["Vinegar/Vinaigrettes (Balsamic, Oil & Vinegar, Italian)", "Sweet/Herbal/Tangy (Thousand Island, Green Goddess, French)", "Cream Based (Ranch, Blue cheese, Ceaser)","I do not use dressing/eat salads"], 
             'Value': [1, 2, 3, 4]} 
saladDressing_df = DataFrame(saladDressing)
# saladDressing_df

In [18]:
connection_string = "postgres:postgres@localhost:5432/MoreWineeeee"
engine = create_engine(f'postgresql://{connection_string}')
engine.table_names()

wine_df.to_sql(name='wine', con=engine, if_exists='append', index=True)
WineDescriptions_df.to_sql(name='winedescriptions', con=engine, if_exists='append', index=True)
WineContent_df.to_sql(name='winecontent', con=engine, if_exists='append', index=True)

gender_df.to_sql(name='gender', con=engine, if_exists='append', index=True)
ethnicity_df.to_sql(name='ethnicity', con=engine, if_exists='append', index=True)
home_df.to_sql(name='home', con=engine, if_exists='append', index=True)
education_df.to_sql(name='education', con=engine, if_exists='append', index=True)
married_df.to_sql(name='married', con=engine, if_exists='append', index=True)
chocolate_df.to_sql(name='chocolate', con=engine, if_exists='append', index=True)
cheese_df.to_sql(name='cheese', con=engine, if_exists='append', index=True)
alcohol_df.to_sql(name='alcohol', con=engine, if_exists='append', index=True)
coffeeTea_df.to_sql(name='coffeetea', con=engine, if_exists='append', index=True)
candy_df.to_sql(name='candy', con=engine, if_exists='append', index=True)
scent_df.to_sql(name='scent', con=engine, if_exists='append', index=True)
saladDressing_df.to_sql(name='saladdressing', con=engine, if_exists='append', index=True)

In [19]:
WineSurveyResults = "WineRecommendation.csv"
WineSurveyResults_df = pd.read_csv(WineSurveyResults)
WineSurveyResults_df = WineSurveyResults_df.rename(columns={"Home Location":"Home","Please select a type of chocolate.":"Chocolate","Please select a type of cheese":"Cheese","Please select a type of alcohol (other than wine)":"Alcohol","How do you like your tea/coffee":"CoffeeTea","Select a type of candy":"Candy","Please choose a scent group":"Scent","Choose a salad dressing":"SaladDressing","Please choose a scent group":"Scent","Choose a wine category":"Wine"})
WineSurveyResults_df = WineSurveyResults_df.drop(columns=["Timestamp","Do you agree to participate?","From the list below, select Red Wines you enjoy","From the list below, select Rose Wines you enjoy","From the list below, select White Wines you enjoy","I like my wine to be.... "])
WineSurveyResults_df.head()

,Birth Date,Gender,Ethnicity,Home,Education,Marital Status,Chocolate,Cheese,Alcohol,CoffeeTea,Candy,Scent,SaladDressing,Wine
0,9/21/1989,Female,White/Caucasian,United States of America,Trade School,Single (Never Married),Dark Chocolate,"Firm/Semi-firm (Cheddar, Gouda, Parmesan)",Whiskey/Scotch,Tea/coffee with a little milk &/or cream,"Sour (Sour patch kids, Warheads, Lemonheads)","Citrus, Floral, Herbal","Vinegar/Vinaigrettes (Balsamic, Oil & Vinegar,...",White
1,4/23/1990,Female,White/Caucasian,United States of America,Bachelor's Degree,Married,Dark Chocolate,"Firm/Semi-firm (Cheddar, Gouda, Parmesan)",Vodka,Tea/coffee with a little milk &/or cream,"Fruity (Skittles, Starburst, Jolly Ranchers)","Wood, Tobacco, Musk","Vinegar/Vinaigrettes (Balsamic, Oil & Vinegar,...",Red
2,2/15/1991,Male,Latino or Hispanic,United States of America,Master's Degree,Single (Never Married),Dark Chocolate,"Soft (Brie, Camembert, Munster)",Tequila,Black (with nothing added),I do not eat candy,"Clean Linen, Fresh Air, Seaside","Vinegar/Vinaigrettes (Balsamic, Oil & Vinegar,...",Red
3,6/10/1988,Female,White/Caucasian,United States of America,Bachelor's Degree,Married,Dark Chocolate,"Soft (Brie, Camembert, Munster)",Tequila,Tea/coffee with a little milk &/or cream,"Candy Bar (Snicker, Milky way, Twix)","Wood, Tobacco, Musk","Vinegar/Vinaigrettes (Balsamic, Oil & Vinegar,...",Red
4,1/12/1957,Female,White/Caucasian,United States of America,Master's Degree,Divorced,Milk Chocolate,"Firm/Semi-firm (Cheddar, Gouda, Parmesan)",Tequila,Black (with nothing added),"Sour (Sour patch kids, Warheads, Lemonheads)","Wood, Tobacco, Musk","Vinegar/Vinaigrettes (Balsamic, Oil & Vinegar,...",White

In [20]:
from datetime import datetime
from datetime import date

In [21]:
def calculate_age(born):
    born = datetime.strptime(born, "%m/%d/%Y").date()
    today = date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

WineSurveyResults_df['Age'] = WineSurveyResults_df['Birth Date '].apply(calculate_age)
WineSurveyResults_df.head()

,Birth Date,Gender,Ethnicity,Home,Education,Marital Status,Chocolate,Cheese,Alcohol,CoffeeTea,Candy,Scent,SaladDressing,Wine,Age
0,9/21/1989,Female,White/Caucasian,United States of America,Trade School,Single (Never Married),Dark Chocolate,"Firm/Semi-firm (Cheddar, Gouda, Parmesan)",Whiskey/Scotch,Tea/coffee with a little milk &/or cream,"Sour (Sour patch kids, Warheads, Lemonheads)","Citrus, Floral, Herbal","Vinegar/Vinaigrettes (Balsamic, Oil & Vinegar,...",White,30
1,4/23/1990,Female,White/Caucasian,United States of America,Bachelor's Degree,Married,Dark Chocolate,"Firm/Semi-firm (Cheddar, Gouda, Parmesan)",Vodka,Tea/coffee with a little milk &/or cream,"Fruity (Skittles, Starburst, Jolly Ranchers)","Wood, Tobacco, Musk","Vinegar/Vinaigrettes (Balsamic, Oil & Vinegar,...",Red,30
2,2/15/1991,Male,Latino or Hispanic,United States of America,Master's Degree,Single (Never Married),Dark Chocolate,"Soft (Brie, Camembert, Munster)",Tequila,Black (with nothing added),I do not eat candy,"Clean Linen, Fresh Air, Seaside","Vinegar/Vinaigrettes (Balsamic, Oil & Vinegar,...",Red,29
3,6/10/1988,Female,White/Caucasian,United States of America,Bachelor's Degree,Married,Dark Chocolate,"Soft (Brie, Camembert, Munster)",Tequila,Tea/coffee with a little milk &/or cream,"Candy Bar (Snicker, Milky way, Twix)","Wood, Tobacco, Musk","Vinegar/Vinaigrettes (Balsamic, Oil & Vinegar,...",Red,32
4,1/12/1957,Female,White/Caucasian,United States of America,Master's Degree,Divorced,Milk Chocolate,"Firm/Semi-firm (Cheddar, Gouda, Parmesan)",Tequila,Black (with nothing added),"Sour (Sour patch kids, Warheads, Lemonheads)","Wood, Tobacco, Musk","Vinegar/Vinaigrettes (Balsamic, Oil & Vinegar,...",White,63

In [22]:
WineSurveyResultsNUM = WineSurveyResults_df.merge(gender_df, how="left", on="Gender").rename(columns={"Value":"GenderValue"})
WineSurveyResultsNUM = WineSurveyResultsNUM.merge(ethnicity_df, how="inner", on="Ethnicity").rename(columns={"Value":"EthnicityValue"})
WineSurveyResultsNUM = WineSurveyResultsNUM.merge(home_df, how="left", on="Home").rename(columns={"Value":"HomeValue"})
WineSurveyResultsNUM = WineSurveyResultsNUM.merge(education_df, how="left", on="Education").rename(columns={"Value":"EducationValue"})
WineSurveyResultsNUM = WineSurveyResultsNUM.merge(married_df, how="left", on="Marital Status").rename(columns={"Value":"MaritalValue"})
WineSurveyResultsNUM = WineSurveyResultsNUM.merge(chocolate_df, how="left", on="Chocolate").rename(columns={"Value":"ChocolateValue"})
WineSurveyResultsNUM = WineSurveyResultsNUM.merge(cheese_df, how="left", on="Cheese").rename(columns={"Value":"CheeseValue"})
WineSurveyResultsNUM = WineSurveyResultsNUM.merge(alcohol_df, how="left", on="Alcohol").rename(columns={"Value":"AlcoholValue"})
WineSurveyResultsNUM = WineSurveyResultsNUM.merge(coffeeTea_df, how="left", on="CoffeeTea").rename(columns={"Value":"CoffeeTeaValue"})
WineSurveyResultsNUM = WineSurveyResultsNUM.merge(candy_df, how="left", on="Candy").rename(columns={"Value":"CandyValue"})
WineSurveyResultsNUM = WineSurveyResultsNUM.merge(scent_df, how="left", on="Scent").rename(columns={"Value":"ScentValue"})
WineSurveyResultsNUM = WineSurveyResultsNUM.merge(saladDressing_df, how="left", on="SaladDressing").rename(columns={"Value":"DressingValue"})
WineSurveyResultsNUM = WineSurveyResultsNUM.merge(wine_df, how="left", on="Wine").rename(columns={"Value":"WineValue"})
WineSurveyResultsNUM.head()

,Birth Date,Gender,Ethnicity,Home,Education,Marital Status,Chocolate,Cheese,Alcohol,CoffeeTea,...,EducationValue,MaritalValue,ChocolateValue,CheeseValue,AlcoholValue,CoffeeTeaValue,CandyValue,ScentValue,DressingValue,WineValue
0,9/21/1989,Female,White/Caucasian,United States of America,Trade School,Single (Never Married),Dark Chocolate,"Firm/Semi-firm (Cheddar, Gouda, Parmesan)",Whiskey/Scotch,Tea/coffee with a little milk &/or cream,...,1,1,1,1,1,1,1,1,1,2
1,4/23/1990,Female,White/Caucasian,United States of America,Bachelor's Degree,Married,Dark Chocolate,"Firm/Semi-firm (Cheddar, Gouda, Parmesan)",Vodka,Tea/coffee with a little milk &/or cream,...,2,2,1,1,2,1,2,2,1,1
2,6/10/1988,Female,White/Caucasian,United States of America,Bachelor's Degree,Married,Dark Chocolate,"Soft (Brie, Camembert, Munster)",Tequila,Tea/coffee with a little milk &/or cream,...,2,2,1,2,3,1,4,2,1,1
3,1/12/1957,Female,White/Caucasian,United States of America,Master's Degree,Divorced,Milk Chocolate,"Firm/Semi-firm (Cheddar, Gouda, Parmesan)",Tequila,Black (with nothing added),...,3,3,2,1,3,2,1,2,1,2
4,1/16/1988,Male,White/Caucasian,United States of America,Master's Degree,Single (Never Married),Dark Chocolate,"Firm/Semi-firm (Cheddar, Gouda, Parmesan)",Beer,Black (with nothing added),...,3,1,1,1,4,2,4,4,2,2

In [23]:
machineLearningSet = WineSurveyResultsNUM.drop(columns=["Birth Date ","Gender","Education","Ethnicity","Home","Marital Status","Chocolate","Cheese","Alcohol","CoffeeTea","Candy","Scent","SaladDressing","Wine"])
machineLearningSet.head()

,Age,GenderValue,EthnicityValue,HomeValue,EducationValue,MaritalValue,ChocolateValue,CheeseValue,AlcoholValue,CoffeeTeaValue,CandyValue,ScentValue,DressingValue,WineValue
0,30,1,1,1,1,1,1,1,1,1,1,1,1,2
1,30,1,1,1,2,2,1,1,2,1,2,2,1,1
2,32,1,1,1,2,2,1,2,3,1,4,2,1,1
3,63,1,1,1,3,3,2,1,3,2,1,2,1,2
4,32,2,1,1,3,1,1,1,4,2,4,4,2,2

In [147]:
machineLearningSet.to_csv('machineData.csv')