In [1]:
import pandas as pd

In [ ]:
#Cleaning the data

In [33]:
Dataset_df = pd.read_csv("WineRecommendationNUM.csv")
Dataset_df.columns

Index(['Timestamp', 'Do you agree to participate?', 'Birth Date ', 'Gender',
       'Ethnicity ', 'Home Location', 'Education', 'Marital Status ',
       'Please select a type of chocolate.', 'Please select a type of cheese',
       'Please select a type of alcohol (other than wine)',
       'How do you like your tea/coffee', 'Select a type of candy',
       'Please choose a scent group', 'Choose a salad dressing',
       'Choose a wine category', 'I like my wine to be.... ',
       'From the list below, select Red Wines you enjoy',
       'From the list below, select Rose Wines you enjoy',
       'From the list below, select White Wines you enjoy'],
      dtype='object')

In [34]:
Dataset_df_renamed = Dataset_df.rename(columns={'Do you agree to participate?': 'Agreement', 'Birth Date ': 'DOB',
       'Home Location': 'Location','Marital Status ': 'Marital_status',
       'Please select a type of chocolate.': 'Chocolate', 'Please select a type of cheese': 'Cheese',
       'Please select a type of alcohol (other than wine)': 'Alcohol',
       'How do you like your tea/coffee': 'Coffee_tea', 'Select a type of candy': 'Candy',
       'Please choose a scent group': 'Scent', 'Choose a salad dressing': 'Dressing',
       'Choose a wine category': 'Wine_catagory', 'I like my wine to be.... ': 'Taste_profile',
       'From the list below, select Red Wines you enjoy': 'Red_selections',
       'From the list below, select Rose Wines you enjoy': 'Rose_selections',
       'From the list below, select White Wines you enjoy': 'White_selections'})

In [35]:
Dataset_df_renamed = Dataset_df_renamed.drop(columns=["Timestamp","Agreement"])
Dataset_df_renamed.head()

,DOB,Gender,Ethnicity,Location,Education,Marital_status,Chocolate,Cheese,Alcohol,Coffee_tea,Candy,Scent,Dressing,Wine_catagory,Taste_profile,Red_selections,Rose_selections,White_selections
0,9/21/1989,Female,White / Caucasian,United States of America,Trade School,Single (Never Married),Dark Chocolate,"Firm/Semi-firm (Cheddar, Gouda, Parmesan)",Whiskey/Scotch,Tea/coffee with a little milk &/or cream,"Sour (Sour patch kids, Warheads, Lemonheads)","Citrus, Floral, Herbal","Vinegar/Vinaigrettes (Balsamic, Oil & Vinegar,...",White,Fruity;Floral,Red - Merlot;Red - Syrah,Rose - Pink Moscato;Rose - White Merlot,White - Chardonnay;White - Pinot Grigio;White ...
1,4/23/1990,Female,White/Caucasian,United States of America,Bachelor's Degree,Married,Dark Chocolate,"Firm/Semi-firm (Cheddar, Gouda, Parmesan)",Vodka,Tea/coffee with a little milk &/or cream,"Fruity (Skittles, Starburst, Jolly Ranchers)","Wood, Tobacco, Musk","Vinegar/Vinaigrettes (Balsamic, Oil & Vinegar,...",Red,Floral,Red - Cabernet sauvignon;Red - Pinot noir;Red ...,Rose - Pinot Noir,White - Chardonnay;White - Pinot Grigio
2,33284,Male,Latino or Hispanic,United States of America,Master's Degree,Single (Never Married),Dark Chocolate,"Soft (Brie, Camembert, Munster)",Tequila,Black (with nothing added),I do not eat candy,"Clean Linen, Fresh Air, Seaside","Vinegar/Vinaigrettes (Balsamic, Oil & Vinegar,...",Red,Dry,Red - Malbec;Red - Nebbiolo;Red - Merlot,Rose - Syrah;Rose - Pinot Noir,White - Chardonnay
3,32304,Female,White/Caucasian,United States of America,Bachelor's Degree,Married,Dark Chocolate,"Soft (Brie, Camembert, Munster)",Tequila,Tea/coffee with a little milk &/or cream,"Candy Bar (Snicker, Milky way, Twix)","Wood, Tobacco, Musk","Vinegar/Vinaigrettes (Balsamic, Oil & Vinegar,...",Red,Dry;Bold,Red - Cabernet sauvignon;Red - Pinot noir,Rose - Pinot Noir;Rose - Pink Moscato,White - Chardonnay;White - Sauvignon Blanc
4,20832,Female,White/Caucasian,United States of America,Master's Degree,Divorced,Milk Chocolate,"Firm/Semi-firm (Cheddar, Gouda, Parmesan)",Tequila,Black (with nothing added),"Sour (Sour patch kids, Warheads, Lemonheads)","Wood, Tobacco, Musk","Vinegar/Vinaigrettes (Balsamic, Oil & Vinegar,...",White,Bold,Red - Pinot noir;Red - Zinfandel,Rose - Pinot Noir,White - Chardonnay

In [ ]:
# Machine Learning with Neural Algorithm

In [2]:
from numpy.random import seed
seed(1)

In [3]:
import numpy as np
import pandas as pd

import warnings
warnings.simplefilter('ignore', FutureWarning)

In [4]:
recommendations = pd.read_csv("WineRecommendationNUM.csv")
recommendations.head()

,Age,Gender,Ethnicity,Home Location,Education,Marital Status,chocolate,cheese,alcohol,tea/coffee,candy,scent,salad dressing,wine
0,30,1,1,1,1,1,1,1,1,1,1,1,1,2
1,30,1,1,1,2,2,1,1,2,1,2,2,1,1
2,29,2,2,1,3,1,1,2,3,2,3,3,1,1
3,32,1,1,1,2,2,1,2,3,1,4,2,1,1
4,63,1,1,1,3,3,2,1,3,2,1,2,1,2

In [5]:
X = recommendations.drop("wine", axis=1)
y = recommendations["wine"]
print(X.shape, y.shape)

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)


# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

(134, 13) (134,)

In [6]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=13))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=3, activation='softmax'))

In [7]:
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=60,
    shuffle=True,
    verbose=0
)

In [56]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

34/1 - 0s - loss: 1.4836 - accuracy: 0.4412
Normal Neural Network - Loss: 1.1004826391444487, Accuracy: 0.44117647409439087

In [58]:
new_wine_data = [[30,1,1,1,1,1,1,1,1,1,1,1,1]]
predicted_class = model.predict(new_wine_data)
print(predicted_class)

[[9.9999917e-01 8.2909548e-07 7.2459353e-31]]

In [59]:
# Machine Learning with Logistic Algorithm

In [60]:
X = recommendations.drop("wine", axis=1)
y = recommendations["wine"]
print(X.shape, y.shape)

(134, 13) (134,)

In [61]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [62]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [63]:
classifier.fit(X_train, y_train)

C:\Users\kcomo\Anaconda3\envs\PythonClass\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [64]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.65
Testing Data Score: 0.4117647058823529

In [65]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [1 2 1 1 2 1 2 2 1 1]
First 10 Actual labels: [2, 1, 2, 2, 2, 2, 3, 1, 1, 3]

In [66]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

    Prediction  Actual
0            1       2
1            2       1
2            1       2
3            1       2
4            2       2
5            1       2
6            2       3
7            2       1
8            1       1
9            1       3
10           2       2
11           1       1
12           2       2
13           1       1
14           2       2
15           1       1
16           1       2
17           2       1
18           1       1
19           1       2
20           1       2
21           2       2
22           1       1
23           1       2
24           1       2
25           2       2
26           1       1
27           1       2
28           2       1
29           2       1
30           2       1
31           1       1
32           1       3
33           2       3

In [68]:
import pickle

In [69]:
filename = 'wine_LOGmodel.sav'
pickle.dump(classifier, open(filename, 'wb'))