In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import pickle

In [7]:
Dataset_df = pd.read_csv("machineData.csv")
Dataset_df = Dataset_df.drop(columns=["Unnamed: 0"])
Dataset_df.head()

,Age,GenderValue,EthnicityValue,HomeValue,EducationValue,MaritalValue,ChocolateValue,CheeseValue,AlcoholValue,CoffeeTeaValue,CandyValue,ScentValue,DressingValue,WineValue
0,30,1,1,1,1,1,1,1,1,1,1,1,1,2
1,30,1,1,1,2,2,1,1,2,1,2,2,1,1
2,32,1,1,1,2,2,1,2,3,1,4,2,1,1
3,63,1,1,1,3,3,2,1,3,2,1,2,1,2
4,32,2,1,1,3,1,1,1,4,2,4,4,2,2

In [9]:
X = Dataset_df.drop("WineValue", axis=1)
y = Dataset_df["WineValue"]
print(X.shape, y.shape)

(134, 13) (134,)

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
wineModel = LogisticRegression()
wineModel

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [11]:
wineModel.fit(X_train, y_train)

C:\Users\kcomo\Anaconda3\envs\PythonClass\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [13]:
print(f"Training Data Score: {wineModel.score(X_train, y_train)}")
print(f"Testing Data Score: {wineModel.score(X_test, y_test)}")

Training Data Score: 0.62
Testing Data Score: 0.5294117647058824

In [14]:
predictions = wineModel.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [2 1 1 1 1 1 1 1 1 2]
First 10 Actual labels: [2, 1, 1, 1, 1, 3, 1, 1, 2, 1]

In [16]:
# pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

In [18]:
filename = 'wine_LOGmodel.sav'
pickle.dump(wineModel, open(filename, 'wb'))